groups:
  - name: infrastructure_alerts
    rules:
      - alert: ContainerDown
        expr: container_alive == 0
        for: 30s
        keep_firing_for: 2m 
        labels:
          severity: critical
        annotations:
          description: "The container {{ $labels.name }} did not respond for 30 seconds."
      - alert: HighMemoryUsage
        expr: ((node_memory_MemTotal_bytes - node_memory_MemFree_bytes - node_memory_Cached_bytes) / node_memory_MemTotal_bytes) * 100 > 80
        for: 1m
        keep_firing_for: 2m
        labels:
          severity: warning
        annotations:
          description: "The RAM usage has exceeded 80% during the past minute."
      - alert: HighCPUUsage
        expr: (1 - avg(rate(node_cpu_seconds_total{mode="idle"}[5m]))) * 100 > 80
        for: 1m
        keep_firing_for: 2m 
        labels:
          severity: warning
        annotations:
          description: "The CPU usage has exceeded 80% during the past minute."
      - alert: HighDiskUsage
        expr: (1 - node_filesystem_free_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"}) * 100 > 80
        for: 1m
        keep_firing_for: 2m 
        labels:
          severity: warning
        annotations:
          description: "The disk usage has exceeded 80% during the past minute."
      - alert: HighAppRequestErrorsRate
        expr: (sum((increase(http_requests_total{job="nodejs-backend", status=~"4.."}[24h]) or vector(0))) + sum((increase(http_requests_total{job="nodejs-backend", status=~"5.."}[24h]) or vector(0)))) / sum((increase(http_requests_total{job="nodejs-backend"}[24h]))) * 100 > 10
        for: 1m
        keep_firing_for: 2m 
        labels:
          severity: warning
        annotations:
          description: "The error rate of requests has exceeded 10% during the past minute."
      - alert: HighAppRequestAverageDuration
        expr: sum(rate(http_request_duration_seconds_sum[30m])) / sum(rate(http_request_duration_seconds_count[30m])) * 1000 > 100
        for: 1m
        keep_firing_for: 2m 
        labels:
          severity: warning
        annotations:
          description: "The average duration of requests has exceeded 100ms during the past minute."
      - alert: AbnormalExitedGamesSpike
        expr: increase(exited_games_counter[5m]) > 3 * avg_over_time(increase(exited_games_counter[5m])[1h:5m])
        for: 1m
        keep_firing_for: 2m 
        labels:
          severity: critical
        annotations:
          description: "The rate of deconnections has tripled compared to average last hour (Actual: {{ $value | printf \"%.0f\" }})."
      - alert: NetworkInterfaceSaturation
        expr: sum by (name) (rate(container_network_receive_bytes_total{name="nginx-frontend"}[5m])) > 100 * 1024 * 1024
        for: 2m
        labels:
          severity: critical
        annotations:
          description: "Incoming throughput on {{ $labels.name }} is {{ $value | humanize1024 }}B/s (threshold: 100MB/s)."
