include:
  - path: './src/nodejs-backend/docker-compose.yml'
  - path: './src/nginx-frontend/docker-compose.yml'

networks:
  transcendence_nw:
    driver: bridge

volumes:
  nodejs-backend-data:
  nodejs-backend-uploads: