# Including each service
include:
  - path: './src/alertmanager/docker-compose.yml'
  - path: './src/nodejs-backend/docker-compose.yml'
  - path: './src/cadvisor/docker-compose.yml'
  - path: './src/node-exporter/docker-compose.yml'
  - path: './src/grafana/docker-compose.yml'
  - path: './src/nginx-frontend/docker-compose.yml'
  - path: './src/prometheus/docker-compose.yml'
  - path: './src/vault-server/docker-compose.yml'
  - path: './src/vault-agent-nginx-frontend/docker-compose.yml'
  - path: './src/vault-agent-nodejs-backend/docker-compose.yml'
  - path: './src/vault-agent-grafana/docker-compose.yml'
  - path: './src/vault-agent-vault-server/docker-compose.yml'
  - path: './src/vault-agent-alertmanager/docker-compose.yml'
  - path: './src/cloudflared/docker-compose.yml'

# Shared volumes by some containers definition
volumes:
  #Shared Vault - Vault agents
  vault-agent-nginx-frontend-id:
  vault-agent-nodejs-backend-id:
  vault-agent-grafana-id:
  vault-agent-vault-server-id:
  vault-agent-alertmanager-id:
  #Shared Vault agents - services
  nginx-frontend-vault-secrets:
  nodejs-backend-vault-secrets:
  grafana-vault-secrets:
  vault-server-vault-secrets:
  alertmanager-vault-secrets:

# Shared networks definition
networks:
  transcendence_nw:
    driver: bridge
