
filebeat.shutdown_timeout: 5s

filebeat.inputs:
  - type: filestream
    id: docker-logs
    prospector.scanner.symlinks: true
    parsers:
      - container:
          stream: all
          format: docker
    paths:
      - '/var/lib/docker/containers/*/*.log'
  - type: filestream
    id: vault-server-log-volume
    paths:
      - /vault/logs/audit.log
    processors:
      - add_fields:
          target: ""
          fields:
            log_id: "vault-server-audit"

processors:
  - add_docker_metadata:
      host: "unix:///var/run/docker.sock"
  - add_fields:
      when:
        and:
          - equals.container.name: "nginx-frontend"
          - equals.stream: "stdout"
      target: ""
      fields:
        log_id: "nginx-frontend-access"
  - add_fields:
      when:
        and:
          - equals.container.name: "nginx-frontend"
          - equals.stream: "stderr"
      target: ""
      fields:
        log_id: "nginx-frontend-error"
  - copy_fields:
      when:
        not:
          has_fields: ['log_id']
      fields:
        - from: container.name
          to: log_id
      fail_on_error: false
      ignore_missing: true

  - drop_fields:
      fields:
        - container
        - agent
        - log
        - host
        - ecs
        - input
        - stream
      ignore_missing: true

# output.file:
#   path: "/tmp/filebeat-logs"
#   filename: "docker.log"
#   rotate_every_kb: 10240
#   number_of_files: 3
#   codec.json:
#     pretty: true

output.logstash:
  enabled: true
  codec.json:
    pretty: true
  hosts: ["logstash:5044"]
  ssl.certificate_authorities: ["/usr/share/filebeat/secrets/ca.crt"]
  ssl.certificate: "/usr/share/filebeat/secrets/filebeat.crt"
  ssl.key: "/usr/share/filebeat/secrets/filebeat.key"
