services:
  vault-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vault-server
    restart: on-failure
    cap_add:
      - IPC_LOCK
    environment:
      - SKIP_SETCAP=true
      - VAULT_LOG_FORMAT=json
      - VAULT_LOG_LEVEL=info
    volumes:
      - vault-server-data:/vault/file
      - vault-server-logs:/vault/logs
      - vault-agent-nginx-frontend-id:/vault_agents_ids/nginx-frontend
      - vault-agent-elasticsearch-id:/vault_agents_ids/elasticsearch
      - vault-agent-kibana-id:/vault_agents_ids/kibana
      - vault-agent-nodejs-backend-id:/vault_agents_ids/nodejs-backend
      - vault-agent-grafana-id:/vault_agents_ids/grafana
      - vault-agent-logstash-id:/vault_agents_ids/logstash
      - vault-agent-filebeat-id:/vault_agents_ids/filebeat
      - vault-agent-vault-server-id:/vault_agents_ids/vault-server
      - vault-agent-alertmanager-id:/vault_agents_ids/alertmanager
      - vault-server-vault-secrets:/vault/secrets:ro
      - ${VAULT_ACCESS_DIR_PATH}:/vault/access:rw
    command:
      - server
    networks:
      - transcendence_nw
    secrets:
      - google_auth_client_id
      - google_auth_secret_id
      - discord_webhook_url
    healthcheck:
      test: test -f /vault/file/.vault_certs_initialized
      interval: 3s
      retries: 12

secrets:
  google_auth_client_id:
    file: ${SECRETS_DIR_PATH}/google_auth_client_id.txt
  google_auth_secret_id:
    file: ${SECRETS_DIR_PATH}/google_auth_secret_id.txt
  discord_webhook_url:
    file: ${SECRETS_DIR_PATH}/discord_webhook_url.txt

#port 8200

volumes:
  vault-server-data: