services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - 3000
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads 
    networks:
      - transcendence_nw