# groups:
# - name: cadvisor-memory-alerts
#   rules:
#   - alert: CadvisorHighMemory
#     expr: |
#       (
#         container_memory_usage_bytes{name="cadvisor"}
#         - container_memory_cache{name="cadvisor"}
#       ) > 52428800
#     labels:
#       severity: warning
#     annotations:
#       summary: "Mémoire élevée pour cAdvisor"
#       description: "La consommation mémoire de cAdvisor dépasse 50 MB"


groups:
- name: container-health
  rules:
  - alert: ContainerDown
    expr: time() - container_last_seen > 10
    for: 10s
    labels:
      severity: critical
    annotations:
      summary: "Container down"
      description: "Le container {{ $labels.container }} est down depuis plus de 10s"
- name: container-cpu
  rules:
  - alert: ContainerHighCPUComparedToAverage
    expr: |
      rate(container_cpu_usage_seconds_total{image!=""}[1m])
      >
      avg_over_time(
        rate(container_cpu_usage_seconds_total{image!=""}[1m])[5m:]
      ) * 1.5
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "CPU anormalement élevé"
      description: "CPU du container {{ $labels.container }} > 150% de sa moyenne récente"
- name: container-memory
  rules:
  - alert: ContainerHighMemoryComparedToAverage
    expr: |
      container_memory_working_set_bytes{image!=""}
      >
      avg_over_time(
        container_memory_working_set_bytes{image!=""}[5m]
      ) * 1.5
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "RAM anormalement élevée"
      description: "RAM du container {{ $labels.container }} > 150% de sa moyenne récente"
