services:
  prometheus:
    build:
      context: .
    container_name: prometheus
    restart: on-failure
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
      - "--storage.tsdb.retention.size=5GB"
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
    networks:
      - transcendence_nw

volumes:
  prometheus-data:

#port 9090