services:
  alertmanager:
    build:
      context: .
    container_name: alertmanager
    restart: unless-stopped
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    volumes:
      - alertmanager-data:/alertmanager
    networks:
      - transcendence_nw

volumes:
  alertmanager-data: