services:
  kibana:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kibana
    restart: unless-stopped
    depends_on:
      - elasticsearch
    networks:
      - transcendence_nw

#port 5601