services:
  logstash:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: logstash
    stop_grace_period: 20s  # Docker attend 1 minute avant SIGKILL
    restart: on-failure
    volumes:
      - logstash-vault-secrets:/usr/share/logstash/config/secrets:ro
      # - ./test-files:/usr/share/logstash/tmp_logs:rw
    depends_on:
      vault-agent-logstash:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    environment:
      LS_JAVA_OPTS: -Xms512m -Xmx512m
    networks:
      - transcendence_nw

#port 5044 beats
#port 9600 http monitoring