# Basic stuff
server.host: "0.0.0.0"
server.shutdownTimeout: "5s"
elasticsearch.hosts: ["https://elasticsearch:9200"]
server.port: 5601
server.basePath: "/kibana"
server.rewriteBasePath: true

logging:
  appenders:
    console_appender:
      type: console
      layout:
        type: json
  root:
    appenders: [console_appender]

# Setup mutual TLS 
elasticsearch.ssl.certificate: "/usr/share/kibana/config/secrets/kibana.crt"
elasticsearch.ssl.key: "/usr/share/kibana/config/secrets/kibana.key"
elasticsearch.ssl.certificateAuthorities: ["/usr/share/kibana/config/secrets/ca.crt"]
elasticsearch.ssl.verificationMode: full
elasticsearch.ssl.alwaysPresentCertificate: true

# Required authentification 
elasticsearch.username: "${KIBANA_USER}"
elasticsearch.password: "${KIBANA_PASSWORD}"

# Activate Oicd
xpack.security.authc.providers:
  oidc.oidc-vault:
    order: 0
    realm: oidc-vault
    description: "Sign in with Vault"
  basic.basic1:
    order: 1