services:
  filebeat:
    build:
      context: .
    container_name: filebeat
    user: root
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./test-logs:/filebeat-test-logs
    depends_on:
      - logstash
    networks:
      - transcendence_nw 

