services:
  filebeat:
    build:
      context: .
    container_name: filebeat
    user: root
    restart: unless-stopped
    command:
      - '--strict.perms=false'
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - filebeat-registry:/usr/share/filebeat/data:rw
      - ./test-files:/tmp/filebeat
    depends_on:
      - logstash
      - elasticsearch
    networks:
      - transcendence_nw 

volumes:
  filebeat-registry:

#port NONE