services:
  filebeat:
    build:
      context: .
    container_name: filebeat
    user: root
    restart: on-failure
    command: ["filebeat", "-e", "--strict.perms=false"]
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - filebeat-registry:/usr/share/filebeat/data:rw
      - filebeat-vault-secrets:/usr/share/filebeat/secrets:ro
      - ./test-files:/tmp/filebeat-logs
    depends_on:
      vault-agent-filebeat:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      logstash:
        condition: service_started
    networks:
      - transcendence_nw 

volumes:
  filebeat-registry:

#port NONE